*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.header{
    padding-top: 40px;
    padding-bottom: 84px;
    display:flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header-link1{
    color: #F25822;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;
}

.header-link2{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;
}

.header-menu{
    width: 533px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #000;
    font-family: Open Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
}

.text{
    color: #888;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 37px;
}

.button-link1{
    color: #FFF;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 2rem;
    background-color: #F25822;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 45px;
    border: 2px solid transparent;
    display: block;
}

.button-link1.button-link1:hover {
    background-color: #fff;
    color: #F25822;
    border: 2px solid #F25822;
}

.button-link2{
    color: #AAA;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 2rem;
    text-decoration: none;
    border: 2px solid transparent;
    display: block;
}

.top_buttons{
    display: flex;
}

.top-info, .top-pic{
    width: 47%;
}

.top-content{
    margin-bottom: 259px;
}
